@charset "UTF-8";

/*Tablets*/
:root{
    --cor1: black;
    --cor2: white;
    --cor3: #FFF500;
    --cor4: #9a950d;
  }

@media screen and (min-width: 600px ) {
  section > img{
    width: 200px;
    height: 200px;
    animation: aparecer 3s forwards;
  }
  /*INFORMAÇões*/
  
  header > p{
    width: 60%;
  }

  article > div.bloco{
    height: 200px;
    width: 50%;
  }

  div.bloco > img{
    height: 100%;
    width: 50%;
    align-self: flex-start;
  }

  div.first{
    border-radius: 45px 45px 0px 0px;
  }

  div.third{
    border-radius: 0px 0px 40px 40px;
  }

  article.processos > div.painel{
    width: 350px;
    height: 350px;
  }

  div.painel > h1{
    font-size: 30px;
  }

  div.painel > p{
    width: 80%;
    font-size: 20px;
  }

  footer{
    height: 200px;
    width: 50%;
    margin: auto;
  }

  /*Sites*/

  article.site > p{
    width: 50%;
  }

  article > div.conteudo{
    height: 200px;
    line-height: 200px;
    width: 50%;
  }

  /*Anuncios*/

article.anuncio > p{
 width: 50%;
 text-align: center;
}

article.anuncio > iframe{
  width: 500px;
  height: 500px;
}

/*Postagens*/

article.postagem > p {
  width: 50%;
  font-size: 30px;
  text-align: center;
}

div.postagens > img{
  width: 50%;
}

}