@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

:root{
  --fontTitulo: "Roboto", "Helvetica", sans-serif;
  --cor1: #0084FF;
  --cor2: #72D0FF;
  --cor3: #97DDFF;
  --cor4: white;
  --cor5: red;
  --cor6: #94d6f8;
}

html , body{
  width: 100%;
}

section#inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}
/* INICIO */

div.inicio{
  width: 100%;
  height: 20px;
  border-radius: 0px 0px 45px 45px;
  background-color: var(--cor1);
}

div#fim{
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: var(--cor2);
  border-radius: 45px 45px 0px 0px;
}

section > h1{
  font: var(--fontTitulo);
  font-size: 27px;
  font-weight: bolder;
  align-self: center;
  width: 100%;
}

section > h1 > a{
  text-decoration: underline;
  font: var(--fontTitulo);
  font-size: 25px;
  color: var(--cor5);
  cursor: default;
}

section > div.btn{
  margin-top: 20px;
  width: 95px;
  height: 20px;
  border-radius: 40px;
  border: 2px solid #FFF;
  background: var(--cor1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

section > div.btn > a{
  color: var(--cor4);
  text-decoration: none;
  font-size: 15px;
  font-family: var(--fontTitulo);
  font-weight: bolder;
}
/* INICIO - FIm */

/* INFORMAÇOES  */

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes titulo {
    from{
     transform: translate(-100%,0);
    }
    to{
      transform: translate(0,0);
    }

}

@keyframes aparecer {
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

@keyframes move {
    from{
      transform: translateY(-20%);
    }
    to{
      transform: translateY(20%);
    }
}


header{
  height: 100vh;
  width: 100%;
  overflow: hidden;

  background-color: #00D1FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}

header > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 20px;
  animation: titulo 0.6s ease-in-out forwards ;
}

header > h2 > a{
  text-decoration: none;
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 30px;
  color: var(--cor4);
  animation: tracking-in-contract-bck-bottom  2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

header > p{
  margin: 15px;
  text-align: center;
  font-family: var(--fontTitulo);
  font-size: 17px;
  width: 90%;
  font-weight: bolder;
  text-align: center;
  animation: aparecer 3s forwards;

}

header > img{
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  animation: move 0.4s infinite ease-out alternate-reverse;
}

strong{
  color: var(--cor5);
  text-decoration: underline;
}

section > article.servico{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}


article > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline var(--cor1) 4px;
  margin-bottom: 20px;

  animation: aparecer 0.8s ease-in forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;
}

@keyframes slideright {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translate(0);
  }
}

article > div.bloco{
  height: 180px;
  width: 100%;
  background-color: var(--cor2);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  animation: slideright 2ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;

}

div.bloco > img{
  height: 180px;
  width: 50%;
  align-self: flex-start;
}

div.bloco > h1{
  width: 40%;
  font-size: 20px;
  padding: 10px;
  font-family: var(--fontTitulo);
}

div.first{
  border-radius: 0px 45px 0px 0px;
}

div.bloco > p{
  font-family: var(--fontTitulo);
  width: 50%;
  float: right;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 10px;
}

div.second{
  border-radius: 0px 0px 0px 0px;

}

div.second > img{
  align-self: flex-end;
}


div.third{
  border-radius: 0px 0px 0px 40px;
}

div.third > img{
  border-radius: 0px 0px 0px 40px;
}

section > article.processos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

article.processos > div.painel{
  position: relative;
  width: 250px;
  height: 250px;
  background-color: var(--cor3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3px;

  animation: encaixar 1s ease-in-out ;
  animation-timeline: view();
  animation-range: cover 0% cover  30%;
  view-timeline-inset: 50%;
}

@keyframes encaixar {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  to{
    opacity: 100;
    transform: translateY(0);
  }
}

div#first{
  border-radius: 15px 15px 0px 0px;
}

div#second{
  background: #57C5FB;
}

div#second > div.numero{
  background: #57C5FB;
}

div#four{
  border-radius: 0px 0px 15px 15px;
  background: #57C5FB;
}

div#four > div.numero{
  background: #57C5FB;
}

div.painel > div.numero{
  background-color: var(--cor3);
  color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--cor1);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bolder;
  font-family: var(--fontTitulo);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5px;

}

div.painel > h1{
  font-size: 20px;
  font-weight: bolder;
  font-family: var(--fontTitulo);
  padding-top: 5px;
  color: var(--cor5);
}

div.painel > p{
  width: 80%;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: var(--fontTitulo);
  padding-top: 5px;
}

div.painel > div.base{
  width: 20px;
  height: 10px;
  background-color: white;
  align-self: flex-start;
  position: absolute;
  bottom: 0;
}

div.painel > div.encaixe{
  width: 210px;
  height: 10px;
  background-color: white;
}

div.painel > div.base2{
  width: 20px;
  height: 10px;
  background-color: white;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

section > article.trabalhos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

article.trabalhos > div.base{
  height: 200px;
  width: 200px;
  background-color: var(--cor1);
  border-radius: 20px;
  margin: 10px;
  position: relative;
}

div.base > img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

div.base > div.legenda{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
  background-color: var(--cor2);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

div.legenda > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 20px;
}

div.legenda > a{
  width: 50px;
  height: 20px;
  background-color: var(--cor1);
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--cor4);
  color: black;
  font-weight: bolder;
}

div.legenda > a:hover{
  color: white;
  background-color: var(--cor3);
}

footer > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline var(--cor1) 4px;
  margin-bottom: 20px;
}

footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin: 10px;
}

footer > div.container{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

div.container > div.rede{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--cor3);
  border: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #08ADFF;
}

div#whats{
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
	        animation: pulsate-bck 1s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


div.rede > a >  img{
  width: 40px;
  height: 40px;
}

div#instagram{
  animation: insta 5s ease alternate infinite;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, #F24484, #f930eb,#D943CF,#D943CF ,#7B44F2 ,#7B44F2,  #F2CB05, #f25405 , #F2911B);
} 

@keyframes insta {
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

/* INFORMAÇOES - FIm */
