@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

:root{
  --fontTitulo: "Roboto", "Helvetica", sans-serif;
  --cor1: black;
  --cor2: rgb(0, 0, 0);
  --cor3: white;
  --cor4: white;
  --cor5: red;
  --cor6: #000000;
}

html , body{
  width: 100%;
}

/*Caixa de avisos*/

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

div.aviso{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border: 5px dashed red;
  border-radius: 30px;

  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
	        animation: pulsate-bck 1s ease-in-out infinite both;
}

div.aviso > img{
  height: 40px;
  height: 40px;
  filter: invert();
}
div.aviso > h1{
  text-align: center;
  color: red;
  font-size: 20px;
  padding: 10px;
}
div.aviso > p{
  font-size: 17px;
  width: 90%;
  text-align: left;
  text-indent: 20px;
  padding: 10px;
  color: white;
}
div.aviso > .aviso-red{
  width: 90%;
}
/*Fim da caixa*/


section#inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

article > h1{
  text-align: center;
}
/* MENU */

.topnav {
  overflow: hidden;
  background-color: var(--cor1);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topnav#home {
  background-color: white;
}

.topnav #myLinks {
  display: none;
  z-index: 1;
}


.menu-icon{
  filter: invert();
}

.menu-icon{
  width: 30px;
  height: 30px;
  float: right;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav#home a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../imagens/menu.png) no-repeat;
  background-position: center center;
  margin: auto;
}

.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.372);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

#logo {
  color: white;
  width: 50px;
  height: 50px;
  padding: 0px;
  display: inline-block;
}

#active{
  background-color: white;
  color: black;
  font-weight: bolder;
}
/* FIM - MENU */
/* INICIO */

div.inicio{
  width: 100%;
  height: 20px;
  border-radius: 0px 0px 45px 45px;
  background-color: var(--cor1);
}

div#fim{
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: var(--cor2);
  border-radius: 45px 45px 0px 0px;
}


section > h1{
  font: var(--fontTitulo);
  font-size: 27px;
  font-weight: bolder;
  align-self: center;
  width: 100%;
  text-align: center;
  animation: aparecer 3s forwards;
}

section > h1 > a{
  text-decoration: underline;
  font: var(--fontTitulo);
  font-size: 25px;
  color: var(--cor5);
  cursor: default;
  text-align: center;
}

section > img{
  width: 50%;
  animation: aparecer 3s forwards;
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    display: flex;
  }
}


section > div.btn{
  margin-top: 20px;
  width: 95px;
  height: 20px;
  border-radius: 40px;
  border: 2px solid #FFF;
  background: var(--cor1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 0.6s;
}

section > div.btn > a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: var(--fontTitulo);
  font-weight: bolder;
}
/* INICIO - FIm */

/* INFORMAÇOES  */

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes titulo {
    from{
     transform: translate(-100%,0);
    }
    to{
      transform: translate(0,0);
    }

}

@keyframes aparecer {
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

@keyframes move {
    from{
      transform: translateY(-20%);
    }
    to{
      transform: translateY(20%);
    }
}


header{
  height: 100vh;
  width: 100%;
  overflow: hidden;

  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}

header > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 20px;
  animation: titulo 0.6s ease-in-out forwards ;
  color: red;
}

header > h1#nome-empresa{
  font-size: 30px;
  color: white;
}

header > h2 > a{
  text-decoration: none;
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 30px;
  color: white;
  animation: tracking-in-contract-bck-bottom  2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

header > p{
  margin: 15px;
  text-align: center;
  font-family: var(--fontTitulo);
  font-size: 17px;
  width: 90%;
  font-weight: bolder;
  text-align: center;
  animation: aparecer 3s forwards;
  color: white;

}

header > img{
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  animation: move 0.4s infinite ease-out alternate-reverse;
  filter: invert();
}

strong{
  color: var(--cor5);
  text-decoration: underline;
}

section > article.servico{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

article > p{
  padding: 20px;
}


article > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline var(--cor1) 4px;
  margin-bottom: 20px;
  padding: 20px;

  animation: aparecer 0.8s ease-in forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;
}

@keyframes slideright {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translate(0);
  }
}

article > div.bloco{
  border-radius: 20px;
  height: 200px;
  width: 200px;
  background-color: black;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  animation: slideright 2ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;
}

div.bloco > img{
  width: 50px;
  filter: invert();
}

div.bloco > h1{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: var(--fontTitulo);
  color: white;
}

@keyframes pulsate-bck {
  0% {
     transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

div.bloco > a > div.btn{
  width: 95px;
  height: 20px;
  border-radius: 40px;
  border: 2px solid #FFF;
  background: var(--cor1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  animation: pulsate-bck 1s ease-in-out infinite both;
  animation-delay: 1s;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;
}


div.btn{
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: var(--fontTitulo);
}


section > article.processos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

article.processos > div.painel{
  position: relative;
  width: 250px;
  height: 250px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3px;

  animation: encaixar 1s ease-in-out ;
  animation-timeline: view();
  animation-range: cover 0% cover  60%;
  view-timeline-inset: 50%;
}

@keyframes encaixar {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  to{
    opacity: 100;
    transform: translateY(0);
  }
}

div#first{
  border-radius: 15px 15px 0px 0px;
}

div#first,
div#third > p{
  color: white;
}

div#first > div.numero{
  background-color: black;
  border-color: white;
}

div#first, 
div#third > div.numero{
  background-color: black;
  border-color: white;
}

div#second{
  background: #a8a8a8;
}

div#second > div.numero{
  background: #a8a8a8;
}

div#four{
  border-radius: 0px 0px 15px 15px;
  background: #a8a8a8;
}

div#four > div.numero{
  background: #a8a8a8;
}

div.painel > div.numero{
  background-color: var(--cor3);
  color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--cor1);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bolder;
  font-family: var(--fontTitulo);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;

}

div.painel > h1{
  font-size: 20px;
  font-weight: bolder;
  font-family: var(--fontTitulo);
  padding-top: 5px;
  color: var(--cor5);
}

div.painel > p{
  width: 80%;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: var(--fontTitulo);
  padding-top: 5px;
}

div.painel > div.base{
  width: 20px;
  height: 10px;
  background-color: white;
  align-self: flex-start;
  position: absolute;
  bottom: 0;
}

div.painel > div.encaixe{
  width: 210px;
  height: 10px;
  background-color: white;
}

div.painel > div.base2{
  width: 20px;
  height: 10px;
  background-color: white;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

section > article.trabalhos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

article.trabalhos > div.base{
  height: 400px;
  width: 300px;
  background-color: var(--cor1);
  box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.368);
  margin: 10px;
  position: relative;
  background-image: url(../imagens/trabalhos/wordcell.png);
  background-size: contain;
  background-attachment:inherit;
}

div.base > div.legenda{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: black;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

div.legenda > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 20px;
  color: white;
}


@keyframes subir {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}

footer > h1{
  font-family: var(--fontTitulo);
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline var(--cor1) 4px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

footer{
  animation: subir 2s ease-in-out forwards;
  animation-timeline: view();
  animation-range: cover 0% cover  30%;
  view-timeline-inset: 50%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-top: 10px;
  background-color: black;
  height: 200px;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

footer > div.container{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

div.container > div.rede{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  border: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;

}

div#whats{
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
	        animation: pulsate-bck 1s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


div.rede > a >  img{
  width: 40px;
  height: 40px;
  filter: invert();
}

div#instagram{
  animation: insta 5s ease alternate infinite;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, #F24484, #f930eb,#D943CF,#D943CF ,#7B44F2 ,#7B44F2,  #F2CB05, #f25405 , #F2911B);
} 

@keyframes insta {
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

/* INFORMAÇOES - FIm */
/* CONFIGURAÇÂO PÀGINA DE SITES */
header.site{
  height: 100vh;
  position: relative;
}

header.site > h1{
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

header.site > div.barra{
  height: 10px;
  width: 100%;
  background-color: white;
  animation: encaixar 1s ease-in-out ;
}

section > article.site{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--fontTitulo);
  overflow: hidden;
}

@keyframes fundo {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 50% 100%;
  }
  100%{
    background-position: 0% 50%;
  }
}

article > div.conteudo{
  height: 100px;
  width: 96%;
  text-align: center;
  line-height: 100px;
  color: white;
  border: 5px solid #000;
  background-color: black;
  margin-bottom: 30px;

}

div#colorido{
  background: linear-gradient(to left, #F00 0%, #FFC700 27.04%, #FFE500 37.25%, #70FF00 48.47%,  #0029FF 75.51%, #FF00D6 97.96%);
  border: 5px solid #000;
  animation: fundo 10s ease-in-out alternate-reverse infinite;
  background-size: 300% 300%;
}

div#imagem{
  background-image: url(../imagens/fundo.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
div#animado{
  animation: jello-horizontal  1s both infinite; 

}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

div#text{
  background-image: url(../imagens/text.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* FIM DA CONFIGURAÇÂO */
/*Página anuncio*/
article.anuncio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
article.anuncio > h1{
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  animation: aparecer 0.8s ease-in forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 20%;
  view-timeline-inset: 50%;
  
}

article.anuncio > p{
  text-indent: 20px;
  font-size: 20px;
  animation: aparecer 0.8s ease-in forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
  view-timeline-inset: 50%;
}

article.anuncio > iframe{
  width: 80%;
  border-radius: 20px;
  animation: aparecer 0.8s ease-in forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;
}
article.anuncio > iframe:hover{
  border-radius: 10px;
  transition: 0.4s;
}
/*Fim da pagina anuncio*/

/*POSTARGENS*/
header.postagem{
  height: 100vh;
  position: relative;
  background-color: ;
  animation: insta 5s ease alternate infinite;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, #F24484, #f930eb,#D943CF,#D943CF ,#7B44F2 ,#7B44F2,  #F2CB05, #f25405 , #F2911B);
}

@keyframes cores {
  0%{
    color: white;
  }
  20%{
    color: rgb(209, 209, 255);
  }
  40%{
    color: #f1e9c4;
  }
  60%{
    color: rgb(255, 166, 166);
  }
  80%{
    color: rgb(210, 169, 249);
  }
  100%{
    color: #000;
  }
  
}

article.postagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header.postagem > h1{
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  text-decoration: none;;
}

header.postagem > div.barra{
  height: 10px;
  width: 100%;
  background-color: white;
}

div.postagens{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

div.postagens > img{
  width: 80%;
  border: 2px solid black;
  margin-bottom: 5px;
  animation: encaixar 2ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  view-timeline-inset: 50%;
}